<app-loading-guard [loadingInput]="loading()">
  <app-error-guard [errorInput]="error()">
    @for (item of booksWithCharacters(); track item.book.url) {
    <section
      class="characters-list__book"
      [attr.aria-labelledby]="'book-' + getBookId(item.book.url)"
    >
      <app-section-title [headingId]="'book-' + getBookId(item.book.url)">{{
        item.book.name
      }}</app-section-title>

      <app-horizontal-scroll-container justifyContent="center">
        @for (character of getDisplayableCharacters(item.characters); track $index) {
        <li>
          <app-characters-card
            [characterName]="getCharacterDisplayName(character)"
            [characterId]="getCharacterId(character.url)"
            [bookId]="getBookId(item.book.url)"
          />
        </li>
        }
      </app-horizontal-scroll-container>
    </section>
    }
  </app-error-guard>
</app-loading-guard>
