@use "theme/variables" as *;

:host {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;

    position: relative;
    background-color: var(--bg-primary);
    min-width: $breakpoint-extra-small;

    header {
        color: var(--text-primary);
        position: absolute;
        top: 0;
        z-index: 1;
        padding: var(--spacing-md);

        a {
            padding-inline: 0.5rem;
        }
    }

    main {
        flex: 1;
        min-height: 0;
        display: flex;
        flex-direction: column;
    }

    footer {
        padding: var(--spacing-md);
        color: var(--text-primary);
        border-top: 1px solid var(--border-light);
    }
}