@use "../../../theme/variables" as *;

.horizontal-scroll {
  width: 100%;
  max-width: $breakpoint-xl;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  margin-inline: auto;

  &:not(:last-child) {
    margin-bottom: var(--spacing-2xl);
  }

  ul {
    display: flex;
    list-style: none;

    margin: 0;
    min-width: min-content;
    margin-inline: auto;

    &.start {
      justify-content: flex-start;
    }

    &.center {
      justify-content: center;
    }

    &.end {
      justify-content: flex-end;
    }
  }
}