@use "../../../theme/variables" as *;

.horizontal-scroll {
  width: 100%;
  max-width: $breakpoint-xl;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  margin-inline: auto;

  &:not(:last-child) {
    margin-bottom: var(--spacing-2xl);
  }

  ul {
    display: flex;
    list-style: none;

    margin: 0;
    padding: var(--spacing-sm) var(--spacing-md);
    min-width: min-content;
    margin-inline: auto;
  }
}