@use "../../../theme/variables" as *;

.horizontal-scroll {
  width: 100%;
  max-width: 72rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;

  &:not(:last-child) {
    margin-bottom: var(--spacing-2xl);
  }
}