@use "../../../../theme/variables" as *;
@use "../../../../theme/mixins" as *;

.footer {
  padding: var(--spacing-xl) var(--spacing-md);
  color: var(--text-primary);
  border-top: 1px solid var(--border-light);
}

.footer__inner {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  @include respond-to(sm) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.footer__left {
  display: flex;
  flex-direction: column;
  text-align: center;

  @include respond-to(sm) {
    text-align: left;
  }
}

.footer__brand {
  font-family: var(--font-main-title);
  font-size: 1.25rem;
  letter-spacing: 0.02em;
  margin: 0;
}

.footer__tagline {
  font-family: var(--font-paragraph);
  font-size: 0.875rem;
  color: var(--text-secondary);
  margin: 0;
  max-width: 20rem;
}

.footer__link {
  font-size: 0.875rem;
  color: var(--text-secondary);
  text-decoration: none;
  transition: color var(--transition-base);

  &:hover {
    color: var(--text-primary);
  }

  &--active {
    color: var(--text-primary);
    font-weight: 500;
  }
}

.footer__meta {
  font-size: 0.75rem;
  color: var(--text-secondary);


}

.footer__right {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  align-items: center;
  padding-top: var(--spacing-xl);

  @include respond-to(sm) {
    align-items: flex-end;
  }
}

.footer__social-label {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--text-secondary);
}

.footer__social {
  display: flex;
  gap: var(--spacing-md);
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--radius-full);
  color: var(--text-secondary);

  &:hover {
    color: var(--text-primary);
    background: var(--glass-border);
  }
}